<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <h2>Main Page</h2>
  <form action="/" method="post">
    <input type="text" name="user-first-ln" value="">
    <input type="text" name="user-first-title" value="">
    <select>
    <option value="News">News</option>
    <option value="Sports">sports</option>
    <option value="tech">Tech</option>
    <option value="FeelGood">Feelgood</option>
  </select>
    <button type="submit" name="button">SUBMIT</button>
  </form>
</body>

</html>
