<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <h2>Main Page</h2>
  <form action="/" method="post">
    <input type="text" name="user-first-title" value="title">
    <input type="text" name="user-first-body" value="body">
    <select name="topic-selector">

      <option value="News">News</option>
      <option value="Sports">sports</option>
      <option value="Tech">Tech</option>
      <option value="FeelGood">Feelgood</option>
      <option value="Business">Business</option>
      <option value="Caleb">Caleb</option>
      <option value="Books">Books</option>
      <option value="Education">Education</option>
    </select>

    <button type="submit" name="button">SUBMIT</button>
  </form>
</body>

</html>
